<div id="<%= dom_id weight_history %>">
  <p>
    <strong>User:</strong>
    <%= weight_history.user_id %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= weight_history.weight %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= weight_history.memo %>
  </p>

</div>
