<h1>Editing weight history</h1>

<%= render "form", weight_history: @weight_history %>

<br>

<div>
  <%= link_to "Show this weight history", @weight_history %> |
  <%= link_to "Back to weight histories", weight_histories_path %>
</div>
